body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 1em;
  text-align: center;
}

form {
  text-align: center;
  margin: 3em;
}

input {
  outline: none;
}

.todo {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: auto;
  align-items: center;
}

p {
  display: flex;
  align-items: center;
}